header {
  display: none;

  @media (max-width: 500px) {
    display: block;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(48, 14, 48);
    background: #c968ca;
    margin-bottom: 10px;
  }

  h1 {
    @media (max-width: 500px) {
      font-size: 2.5rem;
      margin-left: 10px;
    }
  }

  img {
    @media (max-width: 500px) {
      width: 60px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
